<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aaa.mapper.StudentMapper">

    <!--autoMapping：true 当查询的数据库的列名和实体的属性名一样是，进行自动映射-->
    <!--<resultMap id="studentMap" type="Student" autoMapping="true">
        <association property="classInfo" javaType="ClassInfo" autoMapping="true">
        </association>
    </resultMap>

    <select id="selectAll" resultMap="studentMap">
        select
            s.studentId,s.name,s.sex,
            c.classId,c.className
        from student s
        join classInfo c
        on s.classId = c.classId
    </select>-->

</mapper>