/*这是一个多行注释 ：会被编译到css文件中*/
/*
    Less中的变量定义：
        @+变量名 
        1.作为属性值来使用
        2.作为属性名使用 @{b}
        3.作为选择器来使用  @{name}
        4.作为URL：@{url}
        5.变量的延迟加载
*/
.box {
  width: 300px;
  height: 300px;
  border: 1px solid red;
  background-color: green;
  text-align: center;
  background-image: url('../images/4.gif');
}
.son {
  width: 300px;
  border: 5px;
  background-image: url('../images/5.gif');
}
.son1 {
  border: 5px;
  background-image: url('../images/5.jpg');
}
.son2 {
  border: 5px;
  background-image: url('../images/4.jpg');
}
.box {
  border: 5px dashed blue;
}
