/*
    @_ 在匹配模式中，@_代表提前调用一下公共代码。
*/
/* 匹配模式 */
.box1 {
  width: 0px;
  height: 0px;
  border-style: dashed;
  border-width: 100px;
  border-color: transparent transparent transparent blue;
  position: fixed;
  top: 400px;
  left: 800px;
}
.box2 {
  width: 0px;
  height: 0px;
  border-style: dashed;
  border-width: 200px;
  border-color: transparent green transparent transparent;
}
.box3 {
  width: 0px;
  height: 0px;
  border-style: dashed;
  border-width: 300px;
  border-color: yellow transparent transparent transparent;
}
.box4 {
  width: 0px;
  height: 0px;
  border-style: dashed;
  border-width: 400px;
  border-color: transparent transparent pink transparent;
  text-align: left;
}
